body{
    background-color: rgb(245, 250, 255);
}
header{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100px;
    height: auto;
}
#name{
    color: #5EAADC;
}
.image1{
    width: 100%;
}
.banner-card{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 25%;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;

}
.all{
    text-align: center;
    justify-content: center;
}
.burger{
    width: 100px;
    height: 50px;
}
.ice{
    width: 100px;
    height: 80px;
    float: right;

}


@media (max-width: 768px) {
    body {
       background-color: rgb(226, 223, 223);
    }

    .all{
        text-align: center;
        justify-content: center;
    }
    .burger{
        width: 100px;
        height: 50px;
    }
    .ice{
        width: 100px;
        height: 80px;
        float: right;
    
    }
    

}
